<h1>Moment 1 - DT207G</h1>
<nav>
    <ul>
        <li><a href="/">Kurslista</a></li>
        <li><a href="/courses">Lägg till kurser</a></li>
        <li><a href="/about">Om sidan</a></li>
    </ul>
</nav>