<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Moment 1 - DT207G</title>
</head>

<body>
    <header>
        <%- include("partials/mainnav") %>
    </header>
    <main>
        <p>Om sidan</p>
    </main>
</body>

</html>